@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;500&display=swap");

:root {
  --black: #010101;
  --white: #f1f1f1;
  --grey: rgb(212, 209, 209);
  --turboDarkTurquiose: #000e06;
  --veryDarkTurquiose: #002223;
  --darkTurquiose: #025043;
  --turquoise: #036c5f;
  --lightTurquoise: #048c7f;
  --textOutlineColor: rgb(190, 187, 187);

  /* margins and paddings values */
  --SuperSmall: 10px;
  --Small: 20px;
  --Normal: 30px;
  --Medium: 40px;
  --Big: 60px;

  --radiusSmall: 5px;
  --radiusRound: 50%;

  --transition-duration-Short: 0.2s;
  --transition-duration-Long: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--turboDarkTurquiose);
}

.wrapper {
  display: flex;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  border-left: 2px solid var(--veryDarkTurquiose);
  border-right: 2px solid var(--veryDarkTurquiose);
  background-color: var(--grey);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inner-wrapper {
  width: 70%;
  margin: 0 auto;
}

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--Small);
  text-align: center;
  font-weight: 500;
  font-style: italic;
  background-color: var(--veryDarkTurquiose);
  color: var(--white);
  z-index: 2;
}

.Header h1 {
  font-size: 16px;
}

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--SuperSmall);
  text-align: center;
  font-family: "Dancing Script", cursive;
  background-color: var(--veryDarkTurquiose);
  color: var(--white);
  z-index: 2;
}

.Navbar {
  display: flex;
  height: 100vh;
  background-color: var(--darkTurquiose);
}

.Navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  background-color: var(--turquoise);
}

.Navbar-link {
  display: block;
  padding: var(--SuperSmall);
  font-size: 30px;
  color: var(--white);
  transition: var(--transition-duration-Short);
  cursor: pointer;
}

.Navbar-link:hover {
  background-color: var(--turquoise);
}

.Home-title {
  font-size: 20px;
  margin-bottom: var(--Medium);
  margin-top: var(--Medium);
}

.Home-text {
  text-align: justify;
  font-size: 15px;
  line-height: 2;
}

.text-highlight {
  margin: 0 var(--SuperSmall);
  font-weight: 700;
  color: var(--darkTurquiose);
}

.Home-console-underscore {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 5px;
}

.hidden {
  visibility: hidden;
}

.Projects {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.Bookmarks-wrapper {
  display: flex;
}

.Bookmarks-wrapper:nth-child(1) {
  border-left: 3px solid var(--black);
}

.Bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100vh;
  background-color: var(--darkTurquiose);
  color: var(--white);
  transition: var(--transition-duration-Long) ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.Bookmark-text {
  min-width: 400px;
  text-align: center;
  transform: rotate(-90deg);
}

.ProjektDisplay {
  position: relative;
}

.Project-detail-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.Project-detail-visible {
  opacity: 1;
}

.Project-detail-image-box img {
  width: 80%;
  margin: var(--Medium) 0;
  border-radius: var(--radiusSmall);
  box-shadow: 0px 1px 24px 0px rgba(66, 68, 90, 1);
}

.Project-detail-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project-detail-link {
  display: flex;
  margin-bottom: var(--Small);
}

.Project-detail-link a {
  margin-left: 20px;
  color: var(--darkTurquiose);
  text-decoration: none;
}

.Knowledge ul {
  list-style: none;
}

.Knowledge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--SuperSmall) var(--Small);
  margin-top: var(--Small);
  color: var(--black);
  border-radius: var(--radiusSmall);
  text-align: center;
  font-size: 16px;
  user-select: none;
  transition: var(--transition-duration-Long);
}

.Flower {
  margin-right: var(--Normal);
}

.petal {
  display: block;
  position: absolute;
  top: 110%;
  left: 5px;
  height: 16px;
  width: 2px;
  border-radius: 50%;
  background-color: var(--darkTurquiose);
  transform-origin: 45% -9%;
  animation: spin 60s linear infinite;
}

.petal:nth-child(2) {
  animation-delay: -5s;
}

.petal:nth-child(3) {
  animation-delay: -10s;
}

.petal:nth-child(4) {
  animation-delay: -15s;
}

.petal:nth-child(5) {
  animation-delay: -20s;
}

.petal:nth-child(6) {
  animation-delay: -25s;
}

.petal:nth-child(7) {
  animation-delay: -30s;
}

.petal:nth-child(8) {
  animation-delay: -35s;
}

.petal:nth-child(9) {
  animation-delay: -40s;
}

.petal:nth-child(10) {
  animation-delay: -45s;
}

.petal:nth-child(11) {
  animation-delay: -50s;
}

.petal:nth-child(12) {
  animation-delay: -55s;
}

.center {
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Contact {
  text-align: center;
  font-size: 15px;
}

.Contact-title {
  margin-bottom: var(--Medium);
  line-height: 2;
}

.Contact-text {
  margin: var(--Small) 0;
}

.Contact-text ul {
  margin-top: var(--Big);
  list-style: none;
  text-align: left;
}

.Contact-text ul li {
  margin-top: var(--Small);
  font-size: 12px;
}

.Contact-text ul li a {
  text-decoration: none;
  margin: 0;
}

.Contact-item {
  display: flex;
  align-items: center;
  margin-left: 15px;
  word-break: break-all;
  word-wrap: break-word;
}

.Contact-goodbye {
  margin-top: var(--Big);
}

@media (max-width: 768px) and (orientation: landscape) {
  .Home-title {
    margin: var(--Small) 0 var(--Small) 0;
  }

  .Navbar-link {
    padding: var(--SuperSmall);
    font-size: 30px;
  }

  .Project-detail-title {
    margin-top: var(--Normal);
    margin-bottom: var(--Small);
  }

  .Project-detail-image-box img {
    width: 40%;
    margin: 0;
  }

  .Project-detail-links {
    flex-direction: row;
    justify-content: center;
    margin-top: var(--Small);
  }

  .Project-detail-link:nth-last-child(1) {
    margin-left: var(--Small);
  }

  .Contact-title {
    margin-bottom: var(--Small);
  }

  .Contact-text ul {
    margin-top: var(--Small);
  }

  .Contact-goodbye {
    margin-top: var(--Small);
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .Project-detail-title,
  .Contact-title {
    font-size: 23px;
  }

  .Project-detail-image-box img {
    width: 70%;
  }

  .Contact-text ul {
    margin-top: var(--Big);
    margin-bottom: var(--Big);
  }

  .Contact-text ul li {
    font-size: 17px;
  }

  .Contact-goodbye {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .Bookmark {
    width: 50px;
  }

  .content-wrapper,
  .Header h1,
  .Footer,
  .Home-text,
  .Bookmark-text,
  .Project-detail-,
  .Contact-text ul li,
  .Contact-goodbye {
    font-size: 25px;
  }

  .Contact-text {
    font-size: 20px;
  }

  .Home-title,
  .Project-detail-title,
  .Contact-title {
    margin-bottom: var(--Big);
    font-size: 35px;
  }

  .Navbar-link {
    padding: var(--Normal);
    font-size: 40px;
  }

  .Project-detail-image-box img {
    margin: var(--Normal) 0;
    width: 70%;
  }

  .Project-detail-link {
    font-size: 24px;
    margin: var(--Small);
  }

  .Knowledge-item {
    margin: var(--Small);
    font-size: 30px;
  }

  .Flower {
    margin-right: var(--Big);
  }

  .petal {
    height: 24px;
    width: 3px;
  }

  .Contact-text {
    margin: 80px 0;
    line-height: 2;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .Project-detail-title {
    margin-bottom: var(--Normal);
    font-size: 30px;
  }

  .Project-detail-links {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .Contact-text {
    font-size: 25px;
  }

  .Knowledge-item {
    font-size: 40px;
    text-shadow: 2px 2px 0 var(--textOutlineColor),
      2px -2px 0 var(--textOutlineColor), -2px 2px 0 var(--textOutlineColor),
      -2px -2px 0 var(--textOutlineColor), 2px 0px 0 var(--textOutlineColor),
      0px 2px 0 var(--textOutlineColor), -2px 0px 0 var(--textOutlineColor),
      0px -2px 0 var(--textOutlineColor);
    color: var(--grey);
  }
}
