@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;500&display=swap");

:root {
  --black: #010101;
  --white: #f1f1f1;
  --grey: rgb(212, 209, 209);
  --turboDarkTurquiose: #000e06;
  --veryDarkTurquiose: #002223;
  --darkTurquiose: #025043;
  --turquoise: #036c5f;
  --lightTurquoise: #048c7f;
  --textOutlineColor: rgb(190, 187, 187);

  /* margins and paddings values */
  --SuperSmall: 10px;
  --Small: 20px;
  --Normal: 30px;
  --Medium: 40px;
  --Big: 60px;

  --radiusSmall: 5px;
  --radiusRound: 50%;

  --transition-duration-Short: 0.2s;
  --transition-duration-Long: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--turboDarkTurquiose);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 99px);
  max-width: 1200px;
  margin: 0 auto;
  border-left: 2px solid var(--veryDarkTurquiose);
  border-right: 2px solid var(--veryDarkTurquiose);
  overflow: hidden;
  background-color: var(--grey);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.inner-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.Header {
  width: 100%;
  margin: 0 auto;
  padding: var(--Small);
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--veryDarkTurquiose);
  font-style: italic;
}

.Footer {
  width: 100%;
  padding: var(--SuperSmall);
  text-align: center;
  font-size: 24px;
  background-color: var(--veryDarkTurquiose);
  font-family: "Dancing Script", cursive;
  color: var(--white);
}

.Navbar {
  display: flex;
  justify-content: center;
  background-color: var(--darkTurquiose);
  height: 100%;
}

.Navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  background-color: var(--turquoise);
}

.Navbar-link {
  display: block;
  padding: var(--Normal);
  cursor: pointer;
  font-size: 40px;
  color: var(--white);
  transition: var(--transition-duration-Short);
}

.Navbar-link:hover {
  background-color: var(--turquoise);
}

.Home-title {
  margin-bottom: var(--Big);
}

.Home-text {
  font-size: 25px;
  line-height: 2;
  text-align: justify;
}

.Home-text-highlight {
  font-weight: 700;
  color: var(--darkTurquiose);
  margin: 0 var(--SuperSmall);
}

.Home-console-underscore {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 5px;
}

.hidden {
  visibility: hidden;
}

.Projects {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.Bookmarks-wrapper {
  display: flex;
  align-self: flex-start;
  z-index: 1;
}

.Bookmarks-wrapper:nth-child(1) {
  border-left: 3px solid var(--black);
}

.Bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-right: 3px solid var(--black);
  background-color: var(--darkTurquiose);
  color: var(--white);
  transition: var(--transition-duration-Long) ease-in-out;
  cursor: pointer;
}

.Bookmark-text {
  text-align: center;
  font-size: 24px;
  min-width: 400px;
  transform: rotate(-90deg);
}

.ProjektDisplay {
  position: relative;
}

.Project-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  transition: var(--transition-duration-Long);
  opacity: 0;
}

.Project-detail-visible {
  opacity: 1;
}

.Project-detail-title {
  margin-top: var(--Big);
  font-weight: bold;
  font-size: 34px;
}

.Project-detail-image-box img {
  width: 70%;
  margin: var(--Big) 0;
}

.Project-detail-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project-detail-link {
  display: flex;
  margin: var(--Small);
  font-size: 24px;
}

.Project-detail-link a {
  margin-left: 20px;
  color: var(--darkTurquiose);
  text-decoration: none;
}

.Knowledge ul {
  list-style: none;
}

.Knowledge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--SuperSmall) var(--Small);
  margin: var(--Small);
  font-size: 40px;
  text-shadow: 2px 2px 0 var(--textOutlineColor),
    2px -2px 0 var(--textOutlineColor), -2px 2px 0 var(--textOutlineColor),
    -2px -2px 0 var(--textOutlineColor), 2px 0px 0 var(--textOutlineColor),
    0px 2px 0 var(--textOutlineColor), -2px 0px 0 var(--textOutlineColor),
    0px -2px 0 var(--textOutlineColor);
  color: var(--grey);
  border-radius: var(--radiusSmall);
  user-select: none;
  transition: var(--transition-duration-Long);
}

.Flower {
  margin-right: var(--Big);
}

.petal {
  position: absolute;
  top: 110%;
  left: 5px;
  display: block;
  height: 24px;
  width: 3px;
  background-color: var(--darkTurquiose);
  border-radius: 50%;
  transform-origin: 45% -9%;
  animation: spin 60s linear infinite;
}

.petal:nth-child(1) {
  transform: rotate(0deg);
}

.petal:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -5s;
}

.petal:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -10s;
}

.petal:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -15s;
}

.petal:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -20s;
}

.petal:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -25s;
}

.petal:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -30s;
}

.petal:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -35s;
}

.petal:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -40s;
}

.petal:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -45s;
}

.petal:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -50s;
}

.petal:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: -55s;
}

.center {
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Contact-title {
  font-size: 28px;
  margin-bottom: var(--Big);
}

.Contact-text {
  font-size: 25px;
  line-height: 2;
  margin: 80px 0;
}

.Contact-text ul {
  list-style: none;
  text-align: left;
  margin-top: var(--Medium);
}

.Contact-text ul li {
  margin-top: var(--Small);
}

.Contact-text ul li a {
  text-decoration: none;
  margin: 0;
}

.Contact-text-highlight {
  font-weight: 700;
  color: var(--darkTurquiose);
  margin: 0 var(--SuperSmall);
}

.Contact-item {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.Contact-goodbye {
  text-align: center;
  font-size: 26px;
  margin-top: var(--Big);
}
